<ion-view view-title="Accounts">
  <ion-content>
    <div ng-show="accounts.length > 0">
      <ion-list type="card">
        <ion-item ng-repeat="account in accounts">
          {{account.account_id}} {{account.name}} {{account.bank_name}}
        </ion-item>
      </ion-list>
    </div>
    <div class="card" ng-hide="accounts.length > 0">
      <div class="item item-text-wrap">
        You don't have linked bank accounts!
      </div>
    </div>
    <div class="item">
      <a class="button button-block button-positive" href="#/user/link-account">Link bank account</a>
    </div>
    <form ng-submit="redeemCode()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Voucher code</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">Verify</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
